<div class="d-flex flex-gap-3">
  <div [routerLink]="['projects']" [routerLinkActive]="'active'">projects</div>
  <div [routerLink]="['/','main','suppliers']" [routerLinkActive]="'active'">suppliers</div>
  <div [routerLink]="['/','main','inventory']" [routerLinkActive]="'active'">inventory</div>
  <div [routerLink]="['/','main','forecast']" [routerLinkActive]="'active'">forecast</div>
</div>
