<div class="p-3">
  <img src="./assets/images/meo.jpg" height="100" alt="">
  <h1>Main</h1>
  <div class="d-flex flex-gap-3">
    <button mat-raised-button [routerLink]="['demo1','home']">Go to Demo 1</button>
    <button mat-raised-button [routerLink]="['demo2','home']">Go to Demo 2</button>
  </div>
  <router-outlet></router-outlet>
</div>
