<h3>DEMO 1</h3>

<div class="d-flex flex-gap-3">
  <button mat-raised-button [routerLink]="['page1']">Go to Page 1</button>
  <button mat-raised-button [routerLink]="['page2']">Go to Page 2</button>
</div>

<router-outlet></router-outlet>
