<div class="p-3">
  <h2>Menus</h2>
  <div class="d-flex">
    <div class="d-flex flex-column flex-gap-3">
      <div *ngFor="let item of meals">
        <button mat-raised-button
                [routerLink]="['meal',item?.id]"
                [routerLinkActive]="'bg-red color-white'">
          <b>{{item?.id}}</b> {{item?.name}}
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
