<div class="d-flex align-items-center flex-gap-3 breadcrumb-wrapper">
  <div *ngIf="breadcrumbList && breadcrumbList.length && hasPrefix"><i class="fal fa-long-arrow-right"></i></div>
  <ng-container *ngFor="let breadcrumb of breadcrumbList; let $last = last;">
    <div class="cursor-pointer" [class.current]="$last"
         [routerLink]="breadcrumb?.url?.substring(1)">{{breadcrumb?.label}}</div>
    <div *ngIf="!$last"><i class="fal fa-long-arrow-right"></i></div>
  </ng-container>
</div>
