@mixin style($theme) {
    .bg-blue {
        background-color: $cl_dark_blue;
    }
    .bg-dark-blue {
        background-color: $cl_dark_blue_2;
    }
    .color-white {
        color: #fff;
    }
    .color-soft-blue {
        color: $cl_soft_blue;
    }

    .color-sky-blue {
        color: $cl_deep_sky_blue;
    }

    .color-radical-red {
        color: $cl_radical_red;
    }

    .color-orange {
        color: $cl_orange_light_white;
    }

    .color-shamrock {
        color: $cl-shamrock;
    }

    .text-info {
        color: $cl_soft_blue !important;
    }

    .text-warn {
        color: $cl_orange_light_white;
    }

    .text-error {
        color: $cl_radical_red;
    }

    //    status
    .status- {
        &starting {
            color: $cl_pacific_blue;
        }

        &stopping {
            color: $cl_pacific_blue;
        }

        &running {
            color: $cl-shamrock;
        }

        &stopped {
            color: $cl_orange_light_white;
        }
    }
}

@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
