$font_list: (7, 8, 9, 10, 11, 12, 14, 16, 17, 18, 20, 21, 24, 48, 32, 36, 72);

@each $size in $font_list {
    .font-size-#{$size}px {
        font-size: rem($size) !important;
    }
}

.font-weight-medium {
    font-weight: 500;
}
