body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

input, textarea {
    font-family: Roboto, sans-serif;
}
