$list-heights: (36, 40, 60);
$list-widths: (200);

@each $size in $list-heights {
    //Generate margin
    .h-#{$size}px {
        height: $size * 1px !important;
    }
}

@each $size in $list-widths {
    //Generate margin
    .w-#{$size}px {
        width: $size * 1px;
    }
}

.mw-100 {
    max-width: 100% !important;
}

.mh-100 {
    max-height: 100% !important;
}

.min-vw-100 {
    min-width: 100vw !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.vw-100 {
    width: 100vw !important;
}

.vh-100 {
    height: 100vh !important;
}

.max-w-100 {
    max-width: 100%;
}

.min-w-auto {
    min-width: auto !important;
}

.line-height- {
    &40px {
        line-height: 40px !important;
    }

    &100 {
        line-height: 100% !important;
    }
}
