$list-spaces: (1, 2, 5, 8, 10, 12, 15, 20, 30, 36, 40, 60, 100);

// Generate margin and padding by px
@each $size in $list-spaces {
    //Generate margin
    .m-#{$size}px {
        margin: $size * 1px !important;
    }

    .ml-#{$size}px {
        margin-left: $size * 1px !important;
    }

    .mt-#{$size}px {
        margin-top: $size * 1px !important;
    }

    .mb-#{$size}px {
        margin-bottom: $size * 1px !important;
    }

    .mr-#{$size}px {
        margin-right: $size * 1px !important;
    }

    // Generate padding
    .pl-#{$size}px {
        padding-left: $size * 1px !important;
    }

    .pt-#{$size}px {
        padding-top: $size * 1px !important;
    }

    .pb-#{$size}px {
        padding-bottom: $size * 1px !important;
    }

    .pr-#{$size}px {
        padding-right: $size * 1px !important;
    }
}

// flex gap
.flex-gap {
    display: inline-flex;
    flex-wrap: wrap;

    &-1 {
        gap: 0.25rem;
    }

    &-2 {
        gap: 0.5rem;
    }

    &-3 {
        gap: 1rem;
    }

    &-4 {
        gap: 1.5rem;
    }

    &-5 {
        gap: 3rem;
    }
}
