@import "variable";
@import "reset";
@import "common";
@import "function";
@import "font-size";
@import "font-color";
@import "sizing";
@import "space";

.main-wrapper {
    padding-left: 60px;
    padding-right: 60px;
    @media screen and (max-width: $md) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
