<div class="px-3">
  <h2><a [routerLink]="['.']">Home</a></h2>
  <div class="d-flex flex-gap-3">
    <b>You are:</b>
    <ui-breadcrumb></ui-breadcrumb>
  </div>
</div>
<div class="d-flex flex-gap-3 p-3">
  <div>
    <h3>Drivers</h3>
    <div class="d-flex flex-column flex-gap-3">
      <button mat-raised-button color="{{selectedDriver?.id == d?.id ?'primary':''}}"
              (click)="selectDriver(d)"
              *ngFor="let d of drivers">
        {{d?.name}}
      </button>
    </div>
  </div>

  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
