
.disabled-half {
    pointer-events: none;
    opacity: 0.6;
}

.pointer-events-none {
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.font-weight-regular {
    font-weight: 400 !important;
}

.flex-basic-0 {
    flex-basis: 0;
}
