
body {
    //overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-weight: 400;
}


a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

input, textarea {
    font-family: Roboto, sans-serif;
}

/*material*/
.mat-drawer-container {
}
