* {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
        height: 6px;
        position: absolute;
    }

    &::-webkit-scrollbar-thumb {
        transition: background-color 0.4s;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: #aaaaaa;
            border-radius: 3px;
        }
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}
