$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
/*max*/
.m {
    &w-100 {
        max-width: 100% !important;
    }

    &h-100 {
        max-height: 100% !important;
    }

    &vw-100 {
        max-width: 100vw !important;
    }

    &vh-100 {
        max-height: 100vh !important;
    }
}

/*min*/
.min- {
    &w-100 {
        min-width: 100% !important;
    }

    &h-100 {
        min-width: 100% !important;
    }

    &vw-100 {
        min-width: 100vw !important;
    }

    &vh-100 {
        min-width: 100vh !important;
    }

    &w-auto {
        min-width: auto !important;
    }
}

/*width*/
.vw-100 {
    width: 100vw !important;
}

.vh-100 {
    height: 100vh !important;
}

.overflow- {
    &x-auto {
        overflow-x: auto;
        overflow-y: hidden;
    }

    &y-auto {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.stick- {
    &top {
        position: sticky;
        top: 0;
    }
}

@media (max-width: $md) {
    .w-xs-100 {
        width: 100%;
    }
    .w-xs-auto {
        width: auto;
    }
}

@media (min-width: $md) and (max-width: $lg) {
    .w-xs-100, .w-sm-100 {
        width: 100%;
    }
    .w-xs-auto, .w-sm-auto {
        width: auto;
    }

}

@media (min-width: $lg) and (max-width: $xl) {
    .w-xs-100, .w-sm-100, .w-md-100 {
        width: 100%;
    }
    .w-xs-auto, .w-sm-auto, .w-md-auto {
        width: auto;
    }
}

@media (min-width: $xl) {
    .w-xs-100, .w-sm-100, .w-md-100, .w-lg-100 {
        width: 100%;
    }
    .w-xs-auto, .w-sm-auto, .w-md-auto, .w-lg-auto {
        width: auto;
    }
}

/*HEIGHT*/

@for $size from 1 to 100 {
    .vh-#{$size} {
        height: #{$size}vh !important;
    }
}
