$cl_white: #ffffff;
$cl_black_blue: #001d31;
$cl_dark_blue: #0d3755;
$cl_dark_blue_1: #215d87;
$cl_dark_blue_2: #072a43;
$cl_dark_blue_2_20: rgba(7, 42, 67, 0.2);
$cl_soft_blue: #b4d2e8;
$cl_soft_blue_50: rgba(180, 210, 232, 0.5);
$cl_deep_sky_blue: #23bfff;
$cl_bondi_blue: #0088bf;
$cl_radical_red: #ff5455;
$cl_cornflower_blue: #5a8dee;
$cl_sea_green: #338f58;
$cl_orange_light_white: #f4a741;
$cl_arapawa: #1c4a6b;
$cl_horizon: #5f8198;
$cl_horizon_50: rgba(95, 129, 152, 0.5);
$cl_pacific_blue: #119ed9;
$cl_pacific_blue_50: rgba(17, 158, 217, 0.5);
$cl-shamrock: #39da8a;
$cl_black: #000000;
$cl_black_40: rgba(0, 0, 0, 0.4);
$cl_black_32: rgba(0, 0, 0, .32);

$theme-colors: (
    '$cl_dark_blue_1': ($cl_dark_blue_1, $cl_white),
    '$cl_dark_blue_2': ($cl_dark_blue_2, #F4F5F7),
    '$cl_black_blue': (#001d31, #E3E5E8),
    '$cl_soft_blue': ($cl_soft_blue, #0D3755),
    '$cl_deep_sky_blue': (#23bfff, #ffffff),
    '$cl_orange_light_white': (#f4a741, #ffffff),
    '$cl_black_40': (rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    '$cl_dark_blue': (#0d3755, #0d3755),
    '$cl_login_title': (#FFFFFF, $cl_dark_blue_1),
    '$cl_radical_red': ($cl_radical_red, #ffffff),
    '$cl_border_dark': (#112435, #ffffff),
    '$cl_horizon': (#5F8198, #ffffff),
    '$cl_dark':(#01060e, #ffffff),
    '$cl_brown':(#4d4122, #ffffff),
    '$cl_pacific_blue':(#119ed9, #ffffff),
    '$cl_white':($cl_white, #ffffff)
);

$themeConfig: ('dark': 1, 'light': 2);

@function theme-color($color, $index) {
    $colors: map-get($theme-colors, $color);
    @return nth($colors, $index);
}



