@mixin style($theme) {
    $cl_text: theme-color('$cl_white', $theme);

    .btn-red {
        background-color: $cl_radical_red;
    }

    .btn-green {
        background-color: $cl_sea_green;
    }

    .btn-orange {
        background-color: $cl_orange_light_white;
    }

    .btn-blue {
        background-color: $cl_cornflower_blue;
    }

    .btn-blue-light {
        background-color: $cl_pacific_blue;
    }

    .btn-arapawa {
        background-color: $cl_arapawa;
    }

    .btn-bahama-blue {
        background-color: $cl_dark_blue_1;
    }

    button {
        &:focus {
            outline: 0 !important;
        }

        color: $cl_text;
    }

    .btn {
        height: 36px;
        box-sizing: border-box;
        border-radius: 2px !important;

        .mat-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                line-height: 100%;
            }
        }

        &.small {
            height: 30px;
            width: 30px;
            padding: 0;
            min-width: 0;
        }
    }
    .btn-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .btn-icon.mat-icon-button {
        height: 36px;
        width: 36px;
        line-height: 36px;
    }

    .btn-log-status {
        min-width: 0 !important;
        opacity: 0.5;
        height: 30px;
        border-radius: 15px !important;

        &.active {
            opacity: 1;
        }
    }

}

@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
