@mixin style($theme) {
    $cl_bg: theme-color('$cl_dark_blue', $theme);
    .card-list {
        .card-item {
            padding: 15px 20px 25px 20px;
            background-color: $cl_bg;
            box-sizing: border-box;
        }
    }

    .project-list {
        .project-card {
            width: 370px;
            box-shadow: 0px 3px 6px #00000033;
            background-color: $cl_bg;

            .img {
                position: relative;
                height: 200px;

                .no-img {
                    background-color: $cl_dark_blue_2;
                    height: 100%;
                }

                .checkbox {
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: all 0.3s;
                    opacity: 0;
                    z-index: 1;

                    label {
                        &:before {
                            width: rem(18);
                            height: rem(18);
                            content: '\f00c';
                            color: $cl_horizon;
                            border: 1px solid transparent;
                            box-sizing: border-box;
                            font-size: rem(11);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50px;
                            font-family: 'Font Awesome 5 Pro';
                            background-color: $cl_horizon_50;
                        }
                    }

                    input {
                        display: none;

                        &:checked ~ label {
                            &:before {
                                background-color: $cl_pacific-blue;
                                border-color: $cl-white;
                                color: $cl-white;
                            }
                        }
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    transition: all 0.3s;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                }

                &:hover {
                    &:after {
                        background-color: $cl_dark_blue_2_20;
                    }
                }
            }

            .content {
                overflow: auto;
                padding: 15px 20px;

                .des {
                    height: 40px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .more {
                    top: -12px;
                    right: -18px;
                }
            }

            &:hover {
                .img {
                    .checkbox {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
