@mixin style($theme) {
    $cl_bg: theme-color('$cl_dark_blue_1', $theme);
    $cl_active: theme-color('$cl_pacific_blue', $theme);

    .collapse-icon {
        width: 24px !important;
        height: 24px !important;
        border-radius: 100%;
        background-color: $cl_bg;

        &:hover {
            background-color: $cl_active;
        }
    }

    .side-collapse-container {
        transition: all 0.5s;

        &:hover {
            .collapse-group {
                .collapse-icon {
                    opacity: 1;
                    right: -12px;
                }
            }
        }

        &.collapse {
            width: 20px !important;
            min-width: 0 !important;


            > *:not(.collapse-group):not(.resizable-group) {
                display: none !important;
            }

            .collapse-group {
                .collapse-icon {
                    opacity: 1;
                    right: -12px;
                }
            }

            .resizable-group {
                .line {
                    opacity: 1;
                }
            }
        }

        // collapse
        .collapse-group {
            .collapse-icon {
                position: absolute;
                top: 50px;
                right: 12px;
                opacity: 0;
                transition: all 0.4s;
                transition-delay: 0.2s;
                z-index: 11;
            }


        }

        // resizable
        .resizable-group {
            position: absolute;
            height: 100%;
            width: 20px;
            right: -20px;
            z-index: 10;

            &:hover {
                cursor: e-resize;

                .line {
                    opacity: 1;
                }
            }

            .line {
                width: 100%;
                height: 100%;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $cl_active;
                    height: 100%;
                    width: 1px;
                }

                opacity: 0;
                transition: all 0.4s;
                transition-delay: 0.2s;
            }

        }

    }

}

@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}


