@mixin style($theme) {
    $cl_icon_1: theme-color('$cl_deep_sky_blue', $theme);
    $cl_icon_2: theme-color('$cl_radical_red', $theme);
    $cl_bg: theme-color('$cl_black_blue', $theme);

    .dashboards-wrapper {
        background-color: $cl_bg;
        height: 100vh;
    }

    .primary-icon-theme {
        &:before {
            color: $cl_icon_1;
        }

        &:after {
            opacity: 1 !important;
            color: $cl_icon_2;
        }
    }

}


@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
