@mixin style($theme) {
    $cl_border: theme-color('$cl_dark_blue_1', $theme);
    $cl_title: theme-color('$cl_login_title', $theme);
    $width: 280px;

    .login-box {
        width: $width;
        padding-bottom: 20px;
        border-bottom: 1px solid $cl_border;

        @media screen and (max-width: $sm) {
            width: 100%;
        }

        .logo {
            height: rem(50);
            background-image: url(get_login_logo($theme));
            background-repeat: no-repeat;
            background-position: initial;
            background-size: auto 100%;
        }

        .title {
            color: $cl_title;
        }
    }

}


@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
