@mixin style($theme) {

    .mat-slide-toggle {
        .mat-slide-toggle-thumb {
            background-color: $cl_white;
        }

        .mat-slide-toggle-bar {
            background-color: $cl_horizon;
            margin-right: 10px;
        }

        &.mat-checked {
            .mat-slide-toggle-thumb {
                background-color: $cl_deep_sky_blue;
            }

            .mat-slide-toggle-bar {
                background-color: $cl_bondi_blue;
            }
        }
    }
}

@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
