@mixin style($theme) {
    $cl_bg: theme-color('$cl_dark_blue_1', $theme);
    $cl_text: theme-color('$cl_soft_blue', $theme);
    $cl_hover_bg: theme-color('$cl_black_blue', $theme);
    $cl_hover_text: theme-color('$cl_white', $theme);

    .menu-default {
        max-width: none !important;
        border-radius: 2px !important;
        min-height: 0 !important;

        .mat-menu-content {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            background-color: $cl_bg;

            .mat-menu-item {
                line-height: 40px;
                height: 40px;
                color: $cl_text;

                i {
                    width: 30px;
                }

                &:hover {
                    background-color: rgba($cl_hover_bg, 0.2);
                    color: $cl_hover_text;
                }

                &.active {
                    background-color: rgba($cl_hover_bg, 0.2);
                    color: $cl_hover_text;
                }
            }
        }
    }

}


@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}

