@mixin style($theme) {
    $cl_text: theme-color('$cl_soft_blue', $theme);
    $cl_selected_bg: theme-color('$cl_pacific_blue', $theme);
    $cl_selected_text: theme-color('$cl_white', $theme);
    $cl_tick: theme-color('$cl_deep_sky_blue', $theme);

    .nav-menu-default {
        background-color: transparent;

        .mat-tree-node {
            height: 40px;
            min-height: 40px;
            padding-left: 0;
            padding-right: 0;

            & > div {
                padding-left: 30px;
                padding-right: 30px;
            }

            .nav-item-icon {
                width: 30px;
            }

            .tick {
                width: 17px;
                margin-left: -17px;
            }

            &:hover {
                .tick {
                    visibility: visible !important;
                    opacity: 0.4;
                }
            }

            .enable-tick {
                color: $cl_tick;

                .tick {
                    visibility: visible !important;
                    opacity: 1;
                }
            }
        }

        a {
            text-decoration: none;
            color: $cl_text;

            &:hover {
                color: $cl_text;
            }
        }
    }

    .nav-menu-icon {
        background-color: transparent;

        a {
            text-decoration: none;
            color: $cl_text;

            &:hover {
                color: $cl_text;
            }
        }

        .nav-menu-icon-item {
            height: 40px;
            padding-left: 0;
            padding-right: 0;

            & > div {
                padding-left: 30px;
                padding-right: 30px;
            }

            .nav-item-icon {
                width: 30px;
            }

            .tick {
                width: 17px;
                margin-left: -17px;
            }

            &:hover {
                .tick {
                    visibility: visible !important;
                    opacity: 0.4;
                }
            }

            .enable-tick {
                .tick {
                    visibility: visible !important;
                    opacity: 1;
                }
            }
        }

        .selected {
            background-color: $cl_selected_bg !important;

            span,
            i {
                color: $cl_selected_text !important;
            }
        }
    }

    .collapse {
        .line-nav-menu-default {
            pointer-events: none;

            &:after {
                margin: 0 10px;
                width: calc(100% - 20px);
            }
        }

        .nav-menu-icon {
            pointer-events: none;

            .nav-menu-icon-item {
                & > div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .nav-more {
            pointer-events: none;
        }
    }

    // it is hidden - fix later
    /* .tree-view-container {
         .item-child {
             margin-bottom: 10px;
             display: block;

             .title {
                 height: 40px;
                 padding-left: 20px;
                 display: flex;
                 cursor: pointer;
                 align-items: center;

                 i {
                     width: 30px;
                 }
             }

             ul {
                 padding-left: 50px;
                 margin: 0;

                 li {
                     list-style-type: none;
                     height: 30px;
                     display: flex;
                     align-items: center;
                     cursor: pointer;

                     &:hover {
                         color: $cl_deep_sky_blue;
                     }
                 }
             }

             &:hover {
                 .title {
                     color: $cl_deep_sky_blue;
                 }
             }
         }

         .tree-view-item {
             background-color: $cl_dark_blue_1;
             display: flex;
             justify-content: space-between;
             align-items: center;
             width: 100%;
             padding-left: 40px;
             cursor: pointer;
         }

         .tree-view-item-active {
             background-color: $cl_pacific_blue;
         }
     }*/
}


@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}

