@mixin style($theme) {
    $cl-border: theme-color('$cl_soft_blue', $theme);
    .mat-checkbox {
        .mat-checkbox-layout {
            margin-bottom: 0;

            .mat-checkbox-frame {
                border-color: $cl-border;
            }
        }

        .mat-checkbox-inner-container {
            margin-right: 8px !important;
        }

        .mat-checkbox-checked {
            .mat-checkbox-background {
                background-color: $cl-border !important;
            }
        }
    }
}

@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
