@mixin style($theme) {
    $cl_bg: theme-color('$cl_dark_blue', $theme);
    $cl_border: theme-color('$cl_dark_blue_1', $theme);
    $cl_text: theme-color('$cl_soft_blue', $theme);
    $color_hr: theme-color('$cl_dark_blue_1', $theme);

    .mat-dialog-container {
        padding: 0 !important;
        background-color: $cl_bg;
        border-radius: 0 !important;
    }

    .dialog-custom {
        min-width: 400px;
        max-height: 80vh;
        color: $cl_text;

        hr {
            background-color: $color_hr;
            border-width: 0;
            //margin: 0 #{$padding_side} 1px #{$padding_side};
            //width: calc(100% - #{$padding_side} * 2);
            height: 1px;
        }

        .header {
            padding-left: 20px;
            padding-right: 5px;
            height: 50px;
            background-color: $cl_bg;
        }

        .body {
            padding: 20px 20px 30px 20px;
        }

        .btn-group {
            background-color: $cl_bg;
            padding: 0 20px;
            border-top: 1px solid $cl_border;
            height: 70px;

            .btn {
                border-radius: 2px;
                min-width: 80px;
            }
        }

    }
}

@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}

