@mixin style($theme) {
    $cl_border: theme-color('$cl_dark_blue_1', $theme);
    $cl_text: theme-color('$cl_soft_blue', $theme);
    $cl_text_label_active: theme-color('$cl_white', $theme);
    $cl_active_bar: theme-color('$cl_radical_red', $theme);

    .tab-default {
        .mat-tab-labels {
            border-bottom: 1px solid $cl_border;

            .mat-tab-label {
                opacity: 1 !important;
                height: 40px !important;
                min-width: 0 !important;

                .mat-tab-label-content {
                    color: $cl_text;
                    font-size: rem(14);
                    opacity: 1;
                    font-weight: 400;
                }
            }

            .mat-tab-disabled {
                opacity: 0.5 !important;
            }

            .mat-tab-label-active {
                .mat-tab-label-content {
                    color: $cl_text_label_active;
                }
            }
        }

        .mat-tab-header {
            border-bottom: none !important;
        }

        .mat-ink-bar {
            background-color: $cl_active_bar !important;
            height: 3px !important;
        }

        .mat-select-panel {
            //background-color: $cl_dark_blue !important;

            .mat-option-text {
                color: $cl_text !important;
            }

            .mat-selected {
                .mat-option-text {
                    color: $cl_text_label_active !important;
                }
            }
        }
    }

    .part-right {
        padding-right: 0 !important;
    }
}

@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
