@mixin style($theme) {
    $color_bg: theme-color('$cl_dark_blue', $theme);
    $color_bg_2: theme-color('$cl_dark_blue_2', $theme);
    $color_hr: theme-color('$cl_dark_blue_1', $theme);
    $color_item_selected: theme-color('$cl_pacific_blue', $theme);
    $color_badge: theme-color('$cl_radical_red', $theme);
    $color_text: theme-color('$cl_white', $theme);

    $header_height: 56px;
    $padding_side: 30px;
    $container_width: 260px;

    .nav-layout-container {
        height: 100vh;

        hr {
            background-color: $color_hr;
            border-width: 0;
            margin: 0 #{$padding_side} 1px #{$padding_side};
            width: calc(100% - #{$padding_side} * 2);
            height: 1px;
        }

        .btn-toggle-nav-container {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            transition: all 0.4s;
            line-height: 80px;
            transition-delay: 0.2s;
            z-index: 1;
        }

        &:hover {
            .btn-toggle-nav-container {
                opacity: 1;
                right: -12px;
            }
        }

        .nav-layout {
            height: 100%;
            width: $container_width;
            background-color: $color_bg;
            transition: all 0.5s;

            .nav-icon-wrapper {
                padding: 0 #{$padding_side};

                .nav-icon {
                    height: 80px;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                }
            }

            .mobile-logo {
                display: none;
            }

            .nav-list {

                .item {
                    padding: 0 30px !important;
                    height: 40px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;

                    i {
                        width: 24px;
                    }

                    & > span {
                        width: 100%;
                    }

                    .hoverable {
                        transition: all .3s;

                        &:hover {
                            color: $color_item_selected;
                        }
                    }
                }

                .selected {
                    background-color: $color_item_selected !important;

                    span,
                    i {
                        color: $color_text;
                    }
                }

                .btn-side-group {
                    padding-right: 0 !important;

                    a {
                        padding-left: 10px;
                        padding-right: 25px;
                        width: auto;
                        height: 32px;
                        background-color: $color_bg_2;
                        transition: all 0.3s;
                        border-radius: 16px 0 0 16px;

                        &:hover {
                            background-color: $color_item_selected;

                            i {
                                color: $color_text;
                            }
                        }
                    }

                    .active {
                        background-color: $color_item_selected;

                        i {
                            color: $color_text;
                        }
                    }
                }

                .badge {
                    background-color: $color_badge;
                    border-radius: 9px;
                    min-width: 22px;
                    height: 18px;
                    color: #ffffff;
                    padding: 2px 5px 0;
                    font-weight: normal;
                }

                .account {
                    padding: 0 30px !important;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    position: relative;

                    img {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                    }

                }
            }

            .node-sticky {
                position: sticky;
                top: 0;
                background-color: $color_bg;
                z-index: 1;

                &.level-2 {
                    top: $header_height !important;
                }
            }

            .nav-header {
                height: $header_height;

                &.node-sticky {
                    z-index: 2;
                }
            }

            &.collapse {
                min-width: 60px;
                width: 60px;
                box-sizing: border-box;

                $padding_side_new: 10px;

                hr {
                    margin: 0 #{$padding_side_new};
                    width: calc(100% - #{$padding_side_new} * 2);
                }

                .nav-list {
                    .item {
                        padding: 0 #{$padding_side_new} !important;

                        & > span {
                            width: auto;
                        }
                    }

                    .account {
                        padding: 0 #{$padding_side_new};
                    }
                }

                .nav-icon-wrapper {
                    padding: 0 #{$padding_side_new};

                    .logo {
                        display: none;
                    }

                    .mobile-logo {
                        text-align: center;
                        display: block;

                        img {
                            height: 32px;
                        }
                    }
                }

                .nav-mobile-hidden {
                    display: none !important;
                }

                .mobile-btn {
                    justify-content: center !important;

                    i {
                        text-align: center;
                    }
                }

                .nav-menu-icon {
                    .nav-menu-icon-item {
                        padding-left: #{$padding_side_new};
                        padding-right: #{$padding_side_new};
                    }
                }

                .nav-item-icon {
                    width: inherit !important;
                }
            }
        }

        [class*=ps__rail] {
            z-index: 2;
        }
    }


}

@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
