perfect-scrollbar {
    & > .ps--scrolling-y {
        & > .ps__rail-y {
            background-color: transparent !important;
        }
    }

    & > .ps--scrolling-x {
        & > .ps__rail-x {
            background-color: transparent !important;
        }
    }

    & > .ps {
        & > .ps__rail-y {
            &:hover,
            &:focus,
            .ps--clicking {
                background-color: transparent;
            }
        }

        & > .ps__rail-x {
            &:hover,
            &:focus,
            .ps--clicking {
                background-color: transparent;
            }
        }
    }
}
