@mixin style($theme) {
    $cl_border: theme-color('$cl_dark_blue_1', $theme);
    $cl_bg: theme-color('$cl_dark_blue_2', $theme);
    $cl_header_text: theme-color('$cl_white', $theme);
    $cl_cell_text: theme-color('$cl_soft_blue', $theme);
    $cl_hover_border: theme-color('$cl_deep_sky_blue', $theme);

    .table-default {
        background-color: $cl_bg;

        .mat-header-row {
            height: 50px;

            .mat-header-cell {
                border-bottom: 1px solid $cl_border;
                padding-right: 20px;
                white-space: nowrap;
                font-size: 14px;
                color: $cl_header_text;
            }

            //.mat-sort-header-arrow {
            //    color: $cl_horizon;
            //}
        }

        .mat-row {
            height: 50px;

            .mat-cell {
                border-bottom: 1px solid $cl_border;
                padding-right: 20px;
                white-space: nowrap;
                color: $cl_cell_text;
            }

            &:last-child {
                .mat-cell {
                    border-bottom: none;
                }
            }
        }

        &.hoverable {
            .on-hover-item {
                pointer-events: none;
                opacity: 0;
            }

            .mat-row {
                &:hover {
                    //outline: $cl_hover_border 1px solid;
                    .on-hover-item {
                        pointer-events: auto;
                        opacity: 1;
                    }
                }
            }
        }
    }

}


@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
