@mixin style($theme) {
    $cl_border: theme-color('$cl_dark_blue_1', $theme);

    .top-bar {
        height: 80px;
        box-sizing: border-box;
    }

    .top-bar-default {
        border-bottom: 1px solid $cl_border;
    }

}


@each $key, $theme in $themeConfig {
    html {
        &.theme-#{$key} {
            @include style($theme);
        }
    }
}
