<div class="d-flex">
  <div>
    <h3>Orders</h3>
    <div class="d-flex flex-column flex-gap-3">
      <button mat-raised-button color="{{selectedOrderNo === o?'primary':''}}"
              (click)="selectOrder(o)"
              *ngFor="let o of selectedDriver?.orderNos">
        Order #{{o}}
      </button>

    </div>

  </div>
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
